body{
                background: #ffffff;
                font-family: 'Times New Roman', Times, serif;
                color:#17936F;
                font-size: 1.1rem;
            }
            main{
              border:80px solid transparent;border-image:url('../images/border.png') 500 round ;
              background-color: #F7F7EC;
            }
            .navbar {
                background: #EBEBE5;
            }
            .navbar .nav-link{
                color: #5D5D5D;
                font-size: 1.1rem;
                padding-left: 1.1rem !important;
                padding-right: 1.1rem !important;
            }
            #home{
                min-height: 60px;
            }
            #celebrate,
#venue,
#event,
#faq {
  scroll-margin-top: 60px; /* Adjust this value to the height of your navbar */
  position: relative;
}


            .nav-link.active{
                color:#17936F !important;
                text-decoration: underline;
            }
            .nav-link:hover{
                color:#17936F !important;
                text-decoration: underline;
            }
            .navbar-brand {
                font-size: 1.6rem;
                color: #5D5D5D !important;
                letter-spacing: -1px;
            }
            main #celebrate {
                min-height: 85vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                /* justify-content: center; */
            }
            main .aflogo{
                
                width: 120px;
            }
            main .aflogo img{
                object-fit: contain;
            }
            .mainimage{
                text-align: center;
                margin-top: -10px;
            }
            .mainimage img{
                width: 60%; height: 50vh; object-fit: cover;
                max-height: 50vh;
                border-radius: 10px;
            }

            #venue,#event,#faq{
                min-height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                
            }
            .venue_content{
                width: 60%;
                margin: auto;
                text-align: center;
                padding-top: 50px;
                padding-top:10vh ;
            }
            .venue_content p{
                margin-top: 5vh;
            }
           
.imagescontainer {
    /* width: 100%; */
    background-color: #EBEBE5;
    padding: 20px 10px;
    /* position: absolute;
    bottom: 50px;
    left: -80px;
    right: -80px; */
    
    margin-left: -92px;
    margin-right: -92px;
    
}

.imagescontainer .imagesbox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagescontainer .imagesbox .swiper-slide {
    width: 20%;
    margin: 0 5px;
    
    /* This is the new, modern way to make it a square */
    aspect-ratio: 1 / 1;
}

.imagescontainer .imagesbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.event_content{
            width: 50%;
            margin: auto;
            text-align: center;
            padding-top: 50px;
            padding-top:5vh ;
        }
        .event_content p{
            margin-top: 10px;
            margin-bottom: 0px;
            font-size: 1.1rem;

        }
        
        #event table{
            width: 60%;
            border-collapse: collapse;
            margin: auto;
            text-align: left;
        }
        
        .event_content .swiper-slide img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            display: block;
        }
        .faq_content h1{
            text-align: center;
            margin-bottom: 2rem;
            margin-top: 3rem;
        }
        .faq_content table{
            width: 60%;
            border-collapse: collapse;
            margin: auto;
            text-align: left;
            font-size: 1rem;
            margin-top: 2rem;
        }
        .faq_content table th, .faq_content table td {
            vertical-align: top;
        }
        .faq_content table td{
            padding-bottom: 10px;
        }
        .faq_content table td:first-child {
            width: 20%;
            
        }
        .faq_content a{
            color: #17936F;
        }
        footer{
            
            padding:  0 1rem 0 1rem;
            margin-top: .5rem;
        }
        footer *{
            font-size: .8rem;
            color: #000;
        }
        footer a{
            text-decoration: none;
        }
        footer ul{
            padding: 0px;
        }
        footer ul li{
            margin-left: 25px;
        }
        footer .footer_social ul li{
            margin-left: 5px;
        }
        .social_icon{
            width: 20px;
            height: 20px;
            object-fit: contain;
        }
        .faq_head{
            font-weight: 600;
        }
        @media screen and (max-width: 1024px) {
            #event table,.faq_content table{
                    width: 90%;
                }
        }
            @media screen and (max-width: 768px) {
                main{
                    border-width:50px;
                }
                .imagescontainer{
                    margin-left: -61px;
    margin-right: -61px;
                    padding: 20px 5px;
                    /* bottom: 10px; */
                    
                }
                /* .imagescontainer .imagesbox .swiper-slide{
                    height: 150px;
                    margin: 0px 2px;
                } */
                .mainimage img{
                    width: 80%;
                    height: 40vh;
                }
                .venue_content,.event_content{
                    width: 90%;
                }
                .faq_content{
                    width: 99%;
                }
                #event table,.faq_content table{
                    width: 100%;
                }
            }
            @media screen and (max-width: 768px) {
                .faq_content table{
                    width: 100%;
                }
                .faq_content table td:first-child {
                    width: 30%;
                }
            }
            @media screen and (max-width: 400px) {
                #event table{
                    font-size: .9rem;
                }
                .faq_head{
                    font-size: .9rem;
                }
                .faq_desc{
                    font-size: .9rem;
                }
            }